<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="yep. that's true. i know your ip. that sucks, yeah?"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="canonical" href="thats-a-nice-argument-unfortunately.com/" />
    <meta name="robots" content="index, nofollow, noimageindex" />
    {% if enableOGPreviews %}
    <meta name="twitter:card" content="summary" />
    <meta
      name="twitter:title"
      content="that's a nice argument. unfortunately, i have your ip."
    />
    <meta
      name="twitter:description"
      content="yep. that's true. i know your ip. that sucks, yeah? go on this page and learn more!"
    />
    <meta
      name="twitter:image"
      content="https://cdn.thats-a-nice-argument-unfortunately.com/images/fvcn/favicon.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="IP ADDRESS COMPROMISED" />
    <meta
      property="og:title"
      content="that's a nice argument. unfortunately, i have your ip."
    />
    <meta
      property="og:description"
      content="yep. that's true. i know your ip. that sucks, yeah? go on this page and learn more!"
    />
    <meta
      property="og:url"
      content="thats-a-nice-argument-unfortunately.com/"
    />
    {% endif %}
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/images/fvcn/favicon.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/fonts/inter/4.0/inter.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/css/_libraries/bootstrap/5.3.2/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/css/_/{{ASSETS_VERSION}}/style.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/css/_libraries/animation-styles/1.0/animate.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/icons/fontawesome/6.5.1/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.thats-a-nice-argument-unfortunately.com/icons/fontawesome/6.5.1/css/solid.min.css"
    />
    <title>that's a nice argument. unfortunately, your ip is...</title>
    <script
      src="https://sentry.cumlord.ru/js-sdk-loader/c3239d5a76d3db2d28fc995c9a453725.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      async
      defer
      data-website-id="0fc40361-6c0d-412e-a757-a9629483fe2d"
      src="https://analytics.vapronva.pw/deez_sussy_analytics.js"
    ></script>
  </head>

  <body>
    <div class="page-container">
      <div
        class="mainfs background-texture texture-darken filling-screen light-huch"
        id="main-tnaudc"
      >
        <div class="mainfs-container-video-background">
          <video
            class="video-deez-nuts-sir"
            preload="auto"
            muted="muted"
            playsinline="playsinline"
            autoplay="autoplay"
            id="video"
          >
            <source
              src="https://cdn.thats-a-nice-argument-unfortunately.com/video/caterpillar-linus-tnaudc-meme-recreation-1080p60fps.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <h1
                class="margin-medium text-lg-center shadow-balling animated puffIn text-md-center margin-medium-medium text-sm-center h1-title-mlsn-style text-center animSpeed08 none"
                data-appear-anim-style="puffIn"
              >
                <strong>That's a nice argument. Unfortunately,</strong>
              </h1>
              <p
                class="text-lg-center par-maintyping-style shadow-balling text-md-center text-sm-center text-center animated fadeIn none animDelay08"
                id="typedtext"
                data-appear-anim-style="fadeIn"
              ></p>
            </div>
          </div>
        </div>
        <div class="container bottom-screenage-edge">
          <div class="row">
            <div class="col-12">
              <div class="text-center">
                <button
                  href="#"
                  class="btn btn-sm button-border-alike umami--click--toggle-video-mute"
                  id="uvdb"
                >
                  <span
                    class="btn-icon-space-dn fa-solid fa-volume-mute"
                    id="iconvdb"
                  ></span
                  >Toggle Video Mute
                </button>
              </div>
              <script>
                uvdb.addEventListener("click", function () {
                  if (video.muted == true) {
                    video.muted = false;
                    iconvdb.classList.remove("fa-volume-mute");
                    iconvdb.classList.add("fa-volume-up");
                    // uvdb.textContent = "Mute Video";
                  } else if (video.muted == false) {
                    video.muted = true;
                    iconvdb.classList.remove("fa-volume-up");
                    iconvdb.classList.add("fa-volume-mute");
                  }
                });
              </script>
              <div class="text-center margin-upside-mfs">
                <p class="par-subsmall-style">
                  <a
                    class="lttstore-link-white shadow-balling umami--click--privacy-policy-link"
                    href="./ipp"
                    >Information &amp; Privacy Policy</a
                  >
                  ;;
                  <a
                    class="lttstore-link-white shadow-balling umami--click--source-code-link"
                    href="https://github.com/vapronva/thats_a_nice_argument_unfortunately_dot_com-website"
                    rel="nofollow noopener noreferrer"
                    target="_blank"
                    >Source Code</a
                  ><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.thats-a-nice-argument-unfortunately.com/javascript/_libraries/boostrap/5.3.2/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.thats-a-nice-argument-unfortunately.com/javascript/_/{{ASSETS_VERSION}}/ipd.min.js"></script>
  </body>
</html>
