<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="yep. that's true. i know your ip. that sucks, yeah?">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="thats-a-nice-argument-unfortunately.com/">
	<meta name="robots" content="noindex, follow">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="that's a nice argument. unfortunately, i have your ip.">
	<meta name="twitter:description"
		content="yep. that's true. i know your ip. that sucks, yeah? go on this page and learn more!">
	<meta name="twitter:image"
		content="https://cdn.wesa.vapronva.pw/favicons/thats-a-nice-argument-unfortunately-com/favicon.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="IP ADDRESS COMPROMISED">
	<meta property="og:title" content="that's a nice argument. unfortunately, i have your ip.">
	<meta property="og:description"
		content="yep. that's true. i know your ip. that sucks, yeah? go on this page and learn more!">
	<meta property="og:url" content="thats-a-nice-argument-unfortunately.com/">
	<link rel="shortcut icon" type="image/png"
		href="https://cdn.wesa.vapronva.pw/favicons/thats-a-nice-argument-unfortunately-com/favicon.png">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/relanoic/thats-a-nice-argument-unfortunately-com/1.2/styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.wesa.vapronva.pw/animation-styles/1.0/animate.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/icons/fontawesome-five/5.0.1/fontawesome.css">
	<title>that's a nice argument. unfortunately, your ip is...</title>
	<script async src="https://ackee.vapronva.pw/tracker.js" data-ackee-server="https://ackee.vapronva.pw"
		data-ackee-domain-id="23b4bfa2-3d6a-44a6-b796-14c888d48d7c" data-ackee-opts='{"detailed": true}'></script>
</head>

<body>
	<div class="page-container">
		<div class="mainfs background-texture texture-darken filling-screen light-huch" id="main-tnaudc">
			<div class="mainfs-container-video-background">
				<video class="video-deez-nuts-sir" preload="auto" muted="muted" playsinline="playsinline"
					autoplay="autoplay" id="video">
					<source
						src="https://smcdn.video.vapronva.pw/meme-projects-tlbn/thats-a-nice-argument-unfortunately-dot-com/argballsmainbglinteneightmde.mp4"
						type="video/mp4" />
				</video>
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="margin-medium text-lg-center shadow-balling animated puffIn text-md-center margin-medium-medium text-sm-center h1-title-mlsn-style text-center animSpeed08 none"
							data-appear-anim-style="puffIn">
							<strong>That's a nice argument. Unfortunately,</strong>
						</h1>
						<p class="text-lg-center par-maintyping-style shadow-balling text-md-center text-sm-center text-center animated fadeIn none animDelay08"
							id="typedtext" data-appear-anim-style="fadeIn">
						</p>
					</div>
				</div>
			</div>
			<div class="container bottom-screenage-edge">
				<div class="row">
					<div class="col-12">
						<div class="text-center">
							<button href="#" class="btn btn-sm button-border-alike" id="uvdb"><span
									class="btn-icon-space-dn fa fa-volume-mute" id="iconvdb"></span>Toggle Video
								Mute</button>
						</div>
						<script>
							uvdb.addEventListener("click", function () {
								if (video.muted == true) {
									video.muted = false;
									iconvdb.classList.remove("fa-volume-mute");
									iconvdb.classList.add("fa-volume-up");
									// uvdb.textContent = "Mute Video";
								} else if (video.muted == false) {
									video.muted = true;
									iconvdb.classList.remove("fa-volume-up");
									iconvdb.classList.add("fa-volume-mute");
								}
							});
						</script>
						<div class="text-center margin-upside-mfs">
							<p class="par-subsmall-style">
								<a class="lttstore-link-white shadow-balling" href="./ipp">Information &amp; Privacy
									Policy</a><br>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
	<script
		src="https://cdn.wesa.vapronva.pw/relanoic/thats-a-nice-argument-unfortunately-com/1.2/javascript/ipd.min.js">
	</script>
</body>

</html>