<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="information about the website; privacy policy. everything you need to know, if you're somehow concerned.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="thats-a-nice-argument-unfortunately.com/ipp/">
	<meta name="robots" content="noindex, follow">
	<link rel="shortcut icon" type="image/png"
		href="https://static.wesa.vapronva.pw/favicons/thats-a-nice-argument-unfortunately-com/favicon.png">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/relanoic/thats-a-nice-argument-unfortunately-com/1.0/styles/style.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/icons/fontawesome-five/5.0/fontawesome.css">
	<title>thats-a-nice-argument-unfortunately.com — Information & Privacy Policy</title>
	<script async src="https://ackee.vapronva.pw/tracker.js" data-ackee-server="https://ackee.vapronva.pw"
		data-ackee-domain-id="23b4bfa2-3d6a-44a6-b796-14c888d48d7c" data-ackee-opts='{"detailed": true}'></script>
</head>

<body>
	<div class="page-container">
		<div class="mainfs background-texture texture-paper b-parallax light-huch" id="privacy-policy">
			<div class="parallax bg-ivobl-ph-il-5">
			</div>
			<div class="container mainfs-padding-medium mainfs-padding-large">
				<div class="row">
					<div class="col">
						<h1 class="margin-medium">
							Privacy Policy
						</h1>
						<p>
							At That's a Nice Argument Unfortunately Dot Com, accessible from
							thats-a-nice-argument-unfortunately.com, one of our main priorities is the privacy of our
							visitors. This Privacy Policy document contains types of information that is collected and
							recorded by That's a Nice Argument Unfortunately Dot Com and how we use it.<br>If you have
							additional questions or require more information about our Privacy Policy, do not hesitate
							to contact us.<br>
						</p>
						<h3 class="margin-small">
							Log Files
						</h3>
						<p>
							That's a Nice Argument Unfortunately Dot Com follows a standard procedure of using log
							files. The information collected by log files include internet protocol (IP) addresses,
							Internet Service Provider (ISP), date and time stamp. These are not linked to any
							information that is personally identifiable. The purpose of the information is for
							administering the site.<br>
						</p>
						<h3 class="margin-small">
							Analytics<br>
						</h3>
						<p>
							That's a Nice Argument Unfortunately Dot Com may collect anonymized analytics using
							first-party service (ackee.vapronva.pw). The information collected by the service include
							browser type, time spent on each page, referring/exit pages&nbsp;and, possibly, the number
							of clicks.&nbsp;The purpose of the information is for analyzing trends about users&rsquo;
							website usage.<br>
						</p>
						<h3 class="margin-small">
							Children's Information
						</h3>
						<p>
							That's a Nice Argument Unfortunately Dot Com does not knowingly collect any Personal
							Identifiable Information from children under the age of 13. If you think that your child
							provided this kind of information on our website, we strongly encourage you to contact us
							immediately and we will do our best efforts to promptly remove such information from our
							records.<br>
						</p>
						<h3 class="margin-small">
							Online Privacy Policy Only
						</h3>
						<p>
							This Privacy Policy applies only to our online activities and is valid for visitors to our
							website with regards to the information that they shared and/or collect in That's a Nice
							Argument Unfortunately Dot Com. This policy is not applicable to any information collected
							offline or via channels other than this website.<br>
						</p>
						<h3 class="margin-small">
							Consent
						</h3>
						<p>
							By using our website, you hereby consent to our Privacy Policy and agree to its Terms and
							Conditions.<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs b-parallax background-texture texture-fabric light-huch" id="info-faq">
			<div class="parallax bg-ivobl-ph-il-6">
			</div>
			<div class="container mainfs-padding-medium mainfs-padding-large">
				<div class="row">
					<div class="col">
						<h1 class="margin-medium">
							Information &amp; <strike>Frequently</strike> Asked Questions
						</h1>
						<h2 class="margin-small">
							Do you really know my IP?
						</h2>
						<p>
							Yes, my friend. <strike>Your IP is {{ userIP }}, I&rsquo;m in your walls, run away.</strike>
						</p>
						<h2 class="margin-small">
							Where do you get all that information?
						</h2>
						<p>
							The combination of <a href="https://ipinfo.io" rel="nofollow noopener noreferrer"
								target="_blank">IPInfo</a> and <a href="https://proxycheck.io"
								rel="nofollow noopener noreferrer" target="_blank">ProxyCheck</a> with added nonsense by
							<a href="https://github.com/joke2k/faker" rel="nofollow noopener noreferrer"
								target="_blank">faker</a>.
						</p>
						<h2 class="margin-small">
							Which fields are fake?
						</h2>
						<p>
							Everything except: IP address, approximate location in longitude and latitude, WAN type.
							Yes, other stuff is completely random.
						</p>
						<h2 class="margin-small">
							Can I use your API?
						</h2>
						<p>
							Probably, but why? Hit me on emai, if that&rsquo;s what you really want to!
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs bg-mtlqbp-mntflw-tt-6 background-texture texture-darken light-huch" id="contact">
			<div class="container mainfs-padding-medium mainfs-padding-large">
				<div class="row">
					<div class="col">
						<h1 class="margin-medium">
							Contact Us
						</h1><a href="mailto:contact+tnaudc@vapronva.pw" class="btn button-styling btn-lg"><span
								class="btn-icon-space-dn fa fa-mail-bulk"></span>Email</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://static.wesa.vapronva.pw/libraries/universal-parallax/1.0/universal-parallax.min.js"></script>
</body>

</html>